@charset "UTF-8";

@media screen and (max-width: 995px) {

    @import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B');
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: none;   
}
nav.ativo{
    display: block;
}
nav a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
}
nav a:hover, nav.ativo{
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid var(--cor-fonte3) ;
}
.home{
    flex-direction: column;
    margin: 5rem 4rem;
}
.home .home-content h2{
    font-size: 2.5rem;
}
.home .home-content h1{
    font-size: 5rem;
}
.home-img img{
    width: 70vw;
    margin-top: 4rem ;
}
@media screen and (max-width: 1000px) {
    .home{
        gap: 4rem;
    }
}
}